.text-form {
  margin: 0 auto;
  width: 500px;
  align-items: center;
}

.heading {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  align-items: center;
}

.nav {
  background-color: rgb(136, 178, 255);
  color: #fff;
  font-size: 16px;
  padding: 10px;
  margin: 0;
}

.nav-link {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  text-align: left;
}

.form-control {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.btn {
  background-color:cornflowerblue;
  color: #fff;
  border: 0px;
  border-radius:20px;
  padding: 10px;
  cursor: pointer;
}
